$primary:#f4f0e8;
$primary-dark:#dfded8;
$secondary:#000000;
$secondary-dark:#1a1a17;

@mixin desktop-md {
  @media (min-width:768px) {
    @content
  }
}

@mixin desktop-lg {
  @media (min-width:992px) {
    @content
  }
}

@mixin desktop-1920 {
  @media (min-width:1920px) {
    @content
  }
}

@keyframes circle1Turn {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle2Turn {
  0% {
    transform: rotate(100deg);
  }

  100% {
    transform: rotate(-260deg);
  }
}

@keyframes exLine {
  100% {
    width: 100%;
  }
}

@keyframes drawing-svg {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes svg-scale {
  100% {
    transform: scale(1);
  }
}

@keyframes img-opacity {
  100% {
    opacity: 1;
  }
}

